<div class="backgound-grey row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8 form-login">
        <div class="content">
            <form>
                <h2 class="title">Detail page</h2>
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label for="address">Address</label>
                        <input class="form-control" placeholder="Address" type="text" g-places-autocomplete ng-model="detail.address" ng-change="detail.selectPlace()">
                    </div>

                    <div class="form-group col-sm-6">
                        <label for="occupation">Occupation</label>
                        <input class="form-control" placeholder="occupation" type="text" ng-model="login.password">
                    </div>
                </div>


                <div class="form-group">
                    <ui-gmap-google-map center='detail.map.center' zoom='detail.map.zoom'>
                        <ui-gmap-markers models="detail.places" coords="'self'" icon="'icon'" idKey="'id'"></ui-gmap-markers>
                    </ui-gmap-google-map>
                </div>

                <div class="form-group text-right">
                    <button class="btn btn-success" ngf-select="detail.uploadFile($file)" ng-click="" ngf-pattern="'*'" ng-disabled="detail.onUpload">+ Upload file
                        <img src="/images/uploadfile.gif" height="30" ng-show="detail.onUpload"/>
                    </button>
                </div>
                <div class="form-group">
                    <div ngf-drop="detail.uploadFile($file)" class="box-drop-files" ngf-drag-over-class="'dragover'">
                        Drag file here to upload
                    </div>
                </div>
            </form>
            <div ng-show="detail.fileUploadeds.length > 0">
                Response:
                <!--                <pre>{{detail.dataResponse| json}}</pre>-->
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>File Name</th>
                            <th>File Url</th>
                            <th>Size</th>
                            <th>Content Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="file in detail.fileUploadeds">
                            <td>{{file.fileName}}</td>
                            <td><a ng-href="{{file.fileUrl}}">{{file.fileUrl}}</a></td>
                            <td>{{file.fileSizeInBytes}}</td>
                            <td>{{file.contentType}}</td>
                        </tr>
                    </tbody>
                </table>

            </div>

        </div>
    </div>
    <div class="col-sm-2"></div>
</div>