<div class="backgound-grey row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6 form-login">
        <div class="content">
            <form ng-submit="login.login()" name="form">
                <h2 class="title">Login</h2>
                <div class="alert alert-danger" ng-if="login.errMessage">
                    {{login.errMessage}}
                </div>
                
                <div class="form-group">
                    <input class="form-control" placeholder="Email" type="email" required name="email" ng-model="login.username">
                </div>
                
                <div class="alert alert-danger" ng-show="form.email.$invalid && form.email.$touched">
                    <div ng-show="!form.email.$$success.required">Email is required.</div>
                    <div ng-show="!form.email.$$success.email">Please input valid email</div>
                </div>
                
                <div class="form-group">
                    <input class="form-control" placeholder="Password" name="password" type="password" required ng-model="login.password" minlength="6">
                </div>
                
                <div class="alert alert-danger" ng-show="form.password.$invalid && form.password.$touched">
                    <div ng-show="!form.password.$$success.required">Password is required.</div>
                    <div ng-show="!form.password.$$success.minlength">Please input 6 characters or more for password.</div>
                </div>
                
                <div class="form-group btn-submit">
                    <button type="submit" class="btn btn-orange" ng-disabled="login.onRequest || form.$invalid">
                        Login
                        <img src="/images/uploadfile.gif" height="30" ng-show="login.onRequest"/>
                    </button>
                </div>

            </form>
        </div>

    </div>
    <div class="col-sm-3"></div>
</div>